<template>
  <v-avatar v-if="avatar" color="grey lighten-2" size="230" class="av-border">
    <img
      class="red pa-4"
      :src="require(`../../assets/images/avatars/${avatar}.svg`)"
      :srcset="require(`../../assets/images/avatars/${avatar}.svg`)"
      :lazy-src="require(`../../assets/images/avatars/${avatar}.svg`)"
      :alt="$t(`teamMember.${avatar}.name`)"
    />
  </v-avatar>
</template>
<script>
export default {
  name: 'CircleAvatar',
  props: {
    avatar: {
      type: String,
      required: true,
    },
  },
};
</script>
