<template>
  <div>
    <v-btn
      v-for="item in info"
      :key="item.icon"
      icon
      color="blue-grey darken-4"
      :href="item.link"
      target="_blank"
      class="ml-2"
    >
      <img
        :src="require(`../../assets/images/logo/si_${item.icon}.svg`)"
        :alt="item.icon"
        width="36"
        height="36"
      />
    </v-btn>
  </div>
</template>
<script>
export default {
  name: 'CompanySocial',
  data() {
    return {
      social: [
        { title: 'github' },
        { title: 'gitlab' },
        { title: 'twitter' },
        { title: 'youtube' },
        { title: 'facebook' },
      ],
      url: this.$i18n.t('socialIcon'),
      info: [],
    };
  },
  mounted() {
    this.readyIcon();
  },
  methods: {
    readyIcon() {
      // eslint-disable-next-line array-callback-return
      this.url.find((element) => {
        this.social.forEach((i) => {
          if (element.includes(i.title)) {
            this.info.push({ link: element, icon: i.title });
          }
        });
      });
    },
  },
};
</script>
