<template>
  <div>
    <p class="pt-4 pb-4 font-weight-bold">
      {{ footerlinks.header }}
    </p>
    <div v-for="(i, j) in footerlinks.helperItem" :key="j">
      <p class="d-flex">
        <v-icon color="blue-grey darken-4"> $vuetify.icons.{{ i.icon }}</v-icon>
        <span :class="`${i.class}`">
          {{ i.title }}
        </span>
      </p>
    </div>
  </div>
</template>
<script>
export default {
  name: 'FooterAddress',
  computed: {
    footerlinks() {
      return {
        header: this.$i18n.t('footer.companyAddress'),
        helperItem: [
          {
            title: this.$i18n.t('address'),
            icon: 'mdiGoogleMaps',
            class: 'pr-2 pl-2',
          },
          {
            title: this.$i18n.t('telephone'),
            icon: 'mdiPhone',
            class: 'ltr-me pr-2 pl-2',
          },
          {
            title: this.$i18n.t('email'),
            icon: 'mdiEmail',
            class: 'pr-2 pl-2',
          },
          {
            title: this.$i18n.t('postalCode'),
            icon: 'mdiPost',
            class: 'pr-2 pl-2',
          },
        ],
      };
    },
  },
};
</script>
