<template>
  <div class="footer-menuitem">
    <p class="pt-4 pb-4 font-weight-bold">
      {{ data.header }}
    </p>
    <ul>
      <li v-for="(i, j) in data.helperItem" :key="j">
        <div>
          <v-icon small color="blue-grey darken-4">
            $vuetify.icons.{{ i.icon }}</v-icon
          >
          <nuxt-link
            :to="localePath(`${i.url}`)"
            class="blue-grey--text text--darken-4 mb-2"
          >
            {{ i.title }}</nuxt-link
          >
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: 'FooterLink',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
};
</script>
