<template>
  <v-container
    :fluid="$vuetify.breakpoint.smAndUp"
    class="pb-0 pr-0 pl-0 slideup-everywhere"
  >
    <div class="mt-120">
      <div class="pt-10 blue-grey lighten-5">
        <v-row class="o-cnt ma-0 pa-0" align="center" justify="center">
          <v-col cols="12" md="9" class="negative-mg">
            <div class="d-md-flex align-center justify-md-space-between mb-6">
              <div>
                <p v-scrollAnime class="d-block text-h6 font-weight-bold">
                  {{ $t('footer.footerMessage3') }}
                </p>
                <p v-scrollAnime class="d-block mb-7 text-h6">
                  {{ $t('footer.footerMessage2') }}
                </p>
              </div>
              <div>
                <v-btn
                  v-scrollAnime
                  color="primary lighten-1"
                  :to="localePath('/contact')"
                  class="px-12"
                  depressed
                  x-large
                >
                  {{ $t('callUs') }}
                  <v-icon right> $vuetify.icons.mdiPhoneOutline </v-icon>
                </v-btn>
              </div>
            </div>
          </v-col>
        </v-row>
      </div>
    </div>

    <footer class="pt-12 footer-styles blue-grey lighten-5">
      <!-- Wave dark-->
      <div class="pb-10">
        <div class="footer-panel">
          <v-row v-scrollAnime class="ma-0 pa-4">
            <v-col cols="12" sm="6" md="3" class="pa-8 firs-col">
              <nuxt-link :to="localePath('/')" :aria-label="$t('head.title')">
                <AsLogo fill="#263238" />
              </nuxt-link>
              <p class="pt-3 pb-2 font-weight-bold">
                {{ $t('legalName') }}
              </p>
              <!-- <CompanyInfo /> -->
              <CompanySocial />
            </v-col>
            <v-col cols="12" sm="6" md="3" class="pa-8 second-col">
              <FooterLink :data="footerlinks1" />
            </v-col>
            <v-col cols="12" sm="6" md="3" class="pa-8">
              <FooterLink :data="footerlinks2" />
            </v-col>
            <v-col cols="12" sm="6" md="3" class="pa-8">
              <FooterAddress />
            </v-col>
          </v-row>
        </div>
      </div>
    </footer>
    <v-row class="ma-0 blue-grey lighten-4" align="center" justify="center">
      <v-col cols="12" class="d-flex justify-center">
        <a class="text-center blue-grey--text text--darken-4" href="/">
          {{ $t('head.title') }}
        </a>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: 'MainFooter',
  computed: {
    footerlinks1() {
      return {
        header: this.$i18n.t('helpLinks'),
        helperItem: [
          {
            title: this.$i18n.t('cmsProduct.designAgencySite'),
            icon: 'mdiCircleMedium',
            url: '/product/cms',
          },
          {
            title: this.$i18n.t('costDesigningNewsSite'),
            icon: 'mdiCircleMedium',
            url: '/product/cms/pricing',
          },
          {
            title: this.$i18n.t('sampleSiteNews'),
            icon: 'mdiCircleMedium',
            url: '/product/cms/portfolio',
          },
          // {
          //   title: this.$i18n.t('menu.docs.help'),
          //   icon: 'mdiCircleMedium',
          //   url: '/help',
          // },
          {
            title: this.$i18n.t('menu.products.waf'),
            icon: 'mdiCircleMedium',
            url: '/product/htm',
          },

          // {
          //   title: this.$i18n.t('menu.docs.help'),
          //   icon: 'mdiCircleMedium',
          //   url: '/',
          // },
          // {
          //   title: this.$i18n.t('menu.docs.faq'),
          //   icon: 'mdi-circle-medium',
          //   url: '/',
          // },

          // {
          //   title: this.$i18n.t('footer.links.termsOfService'),
          //   icon: 'mdi-circle-medium',
          //   url: '/',
          // },
          // {
          //   title: this.$i18n.t('footer.links.privacyPolicy'),
          //   icon: 'mdi-circle-medium',
          //   url: '/',
          // },
        ],
      };
    },
    footerlinks2() {
      return {
        header: this.$i18n.t('importanLinks'),
        helperItem: [
          {
            title: this.$i18n.t('aboutUs'),
            icon: 'mdiCircleMedium',
            url: '/about',
          },
          {
            title: this.$i18n.t('callUs'),
            icon: 'mdiCircleMedium',
            url: '/contact',
          },
          {
            title: this.$i18n.t('footer.links.aasaamFamily'),
            icon: 'mdiCircleMedium',
            url: '/about#our-teams',
          },
          {
            title: this.$i18n.t('footer.links.jobs'),
            icon: 'mdiCircleMedium',
            url: '/jobs',
          },
        ],
      };
    },
  },
};
</script>

<style scoped>
#cta-3 {
  position: relative;
  margin-top: 90px;
}
.cta-3-holder {
  padding-top: 10px;
}
.o-cnt {
  position: relative;
  z-index: 3;
}
.negative-mg {
  margin-top: -100px;
  position: relative;
  border: 1px solid #efefef;
  padding: 55px 60px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 15px 20px 0px rgba(5, 5, 5, 0.05);
}
</style>
