<template>
  <div>
    <v-container
      fluid
      :class="
        $vuetify.breakpoint.smAndDown
          ? 'slideup-everywhere mt-120'
          : 'slideup-everywhere mt-120 pr-12 pl-12'
      "
    >
      <!-- part-one  -->
      <v-row
        :class="
          $vuetify.breakpoint.smAndDown
            ? 'pa-2 text-center'
            : 'pa-12 text-center'
        "
        align="center"
        justify="center"
      >
        <v-col cols="12" md="7">
          <div class="text-center contact-intro-description">
            <h1 class="allh1-headline line-hight-ourwork">
              {{ $t('sampleSiteNewsAndAgencies') }} <br />
              {{ $t('designedByAassam') }}
            </h1>
          </div>
        </v-col>
      </v-row>
      <v-row justify="center" align="center">
        <v-col
          v-for="(item, i) in items"
          :key="i"
          v-scrollAnime
          cols="12"
          md="6"
          lg="4"
          class="slideup-everywhere ma-2"
        >
          <v-card :color="item.color" dark>
            <div class="d-flex justify-space-between align-center">
              <v-card-title class="headline white--text">
                <h4>
                  {{ item.title }}
                </h4>
              </v-card-title>
              <!-- <nuxt-link :to="localePath({name: 'product-portfolio-id', params: { id: item.id }})">
              </nuxt-link> -->

              <a
                rel="noopener noreferrer"
                :href="item.url"
                class="white--text"
                target="_blank"
              >
                <v-avatar
                  class="brand-hovers-w works-icon ma-3"
                  size="136"
                  tile
                >
                  <!-- <i class="abi">{{ item.brand }}</i> -->
                  <img
                    :src="
                      require(`../../../assets/images/logo/${item.brand}.svg`)
                    "
                    width="136"
                    height="136"
                    :style="{
                      filter:
                        'invert(100%) sepia(100%) saturate(0%) hue-rotate(5deg) brightness(105%) contrast(101%)',
                    }"
                    :alt="item.title"
                  />
                </v-avatar>
              </a>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import works from '@/static/works';
export default {
  data() {
    return {
      items: works,
    };
  },
  head() {
    return {
      title: `${this.$t('sampleSiteNewsByAassam')} | ${this.$t('head.title')}`,
    };
  },
};
</script>
