<template>
  <div>
    <v-container
      fluid
      :class="$vuetify.breakpoint.smAndDown ? 'mt-140' : 'mt-140 pr-12 pl-12'"
    >
      <PriceGoal />
    </v-container>
    <v-container
      fluid
      :class="
        $vuetify.breakpoint.smAndDown
          ? 'grey lighten-5'
          : 'pr-12 pl-12 mt-12 mb-3 grey lighten-5'
      "
    >
      <PriceTeamGoal />
    </v-container>
    <v-container
      fluid
      :class="$vuetify.breakpoint.smAndDown ? '' : 'pr-12 pl-12 mt-3 mb-3'"
    >
      <PriceTable />
    </v-container>
    <v-container
      fluid
      :class="$vuetify.breakpoint.smAndDown ? '' : 'pr-12 pl-12 mt-3 mb-3'"
    >
      <PriceQuestionAnswer />
    </v-container>
  </div>
</template>
<script>
export default {
  head() {
    return {
      title: `${this.$t('costDesigningNewsSite')} | ${this.$t(
        'PriceAssamNewsSite',
      )}`,
    };
  },
};
</script>
