<template>
  <v-row
    align="center"
    justify="center"
    class="slideup-everywhere text-center mb-4"
  >
    <v-col cols="12" class="pb-12 text-center">
      <h2>
        {{ $t('htmProduct.tech.title') }}
      </h2>
    </v-col>
    <v-row v-scrollAnime class="fill-height" align="center" justify="center">
      <v-col
        v-for="item in tech"
        :key="item.title"
        v-scrollAnime
        cols="4"
        sm="2"
        md="2"
        lg="1"
      >
        <TechCards
          :color="item.color"
          :title="item.title"
          :name="item.tooltip"
          :filter="item.filter"
          :width="'57'"
          :height="'57'"
        />
      </v-col>
    </v-row>
  </v-row>
</template>
<script>
export default {
  name: 'HtmTech',
  data() {
    return {
      tech: [
        {
          title: 'si_nginx',
          color: '#E95420',
          tooltip: 'Nginx',
          filter:
            'invert( 48% ) sepia(40%) saturate(3207%) hue-rotate(2deg) brightness(95%) contrast(90%)',
        },
        {
          title: 'si_lua',
          color: '#E95420',
          tooltip: 'Lua',
          filter:
            'invert( 48% ) sepia(40%) saturate(3207%) hue-rotate(2deg) brightness(95%) contrast(90%)',
        },
        {
          title: 'si_elasticsearch',
          color: '#E95420',
          tooltip: 'Elasticsearch',
          filter:
            'invert( 48% ) sepia(40%) saturate(3207%) hue-rotate(2deg) brightness(95%) contrast(90%)',
        },
        {
          title: 'si_fluentd',
          color: '#E95420',
          tooltip: 'Fluent Bit',
          filter:
            'invert( 48% ) sepia(40%) saturate(3207%) hue-rotate(2deg) brightness(95%) contrast(90%)',
        },
        {
          title: 'si_influxdb',
          color: '#E95420',
          tooltip: 'Telegraf/InfluxDB',
          filter:
            'invert( 48% ) sepia(40%) saturate(3207%) hue-rotate(2deg) brightness(95%) contrast(90%)',
        },
        {
          title: 'si_kibana',
          color: '#E95420',
          tooltip: 'Kibana',
          filter:
            'invert( 48% ) sepia(40%) saturate(3207%) hue-rotate(2deg) brightness(95%) contrast(90%)',
        },
        {
          title: 'si_prometheus',
          color: '#E95420',
          tooltip: 'Prometheus',
          filter:
            'invert( 48% ) sepia(40%) saturate(3207%) hue-rotate(2deg) brightness(95%) contrast(90%)',
        },
        {
          title: 'si_grafana',
          color: '#E95420',
          tooltip: 'Grafana',
          filter:
            'invert( 48% ) sepia(40%) saturate(3207%) hue-rotate(2deg) brightness(95%) contrast(90%)',
        },
        {
          title: 'si_sentry',
          color: '#E95420',
          tooltip: 'Sentry',
          filter:
            'invert( 48% ) sepia(40%) saturate(3207%) hue-rotate(2deg) brightness(95%) contrast(90%)',
        },
      ],
    };
  },
};
</script>
