<template>
  <v-container
    :fluid="$vuetify.breakpoint.smAndUp"
    :class="
      $vuetify.breakpoint.smAndDown
        ? 'slideup-everywhere mt-60'
        : 'slideup-everywhere mt-100 pb-0'
    "
  >
    <v-row class="mt-8">
      <v-col cols="12">
        <h1 class="text-center allh1-headline">
          {{ $t('menu.docs.encyclopedia') }}
        </h1>
      </v-col>
      <v-col cols="12" md="3"> menu </v-col>
      <v-col cols="12" md="9"> content </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {};
</script>
