<template>
  <div>
    <v-row
      align="center"
      justify="space-between"
      :class="$vuetify.breakpoint.mdAndDown ? '' : 'pa-12 pt-0'"
      itemscope
      itemtype="https://schema.org/FAQPage"
    >
      <v-col cols="12">
        <h2 class="text-center allh2-headline">
          {{ $t('cmsPricing.priceQuestionAnswer.title') }}
        </h2>
      </v-col>
      <v-col cols="12" :class="$vuetify.breakpoint.mdAndDown ? '' : 'pl-12'">
        <v-expansion-panels v-model="panel" multiple focusable>
          <v-expansion-panel
            v-for="(item, i) in questionAnswerList"
            :key="i"
            itemscope
            itemprop="mainEntity"
            itemtype="https://schema.org/Question"
          >
            <v-expansion-panel-header :class="item.color" itemprop="name"
              ><div class="line-hight-ourwork">
                {{ item.question }}
              </div></v-expansion-panel-header
            >
            <div
              itemscope
              itemprop="acceptedAnswer"
              itemtype="https://schema.org/Answer"
            >
              <v-expansion-panel-content
                class="pt-4 pb-4 line-hight-ourwork"
                itemprop="text"
              >
                {{ item.answer }}
              </v-expansion-panel-content>
            </div>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  name: 'PriceAnswerQuestion',
  data() {
    return {
      panel: [0],
      questionAnswerList: [
        {
          question: this.$t('cmsPricing.priceQuestionAnswer.question1'),
          answer: this.$t('cmsPricing.priceQuestionAnswer.answer1'),
          color: 'teal darken-1 white--text',
        },
        {
          question: this.$t('cmsPricing.priceQuestionAnswer.question2'),
          answer: this.$t('cmsPricing.priceQuestionAnswer.answer2'),
        },
        {
          question: this.$t('cmsPricing.priceQuestionAnswer.question3'),
          answer: this.$t('cmsPricing.priceQuestionAnswer.answer3'),
        },
        {
          question: this.$t('cmsPricing.priceQuestionAnswer.question4'),
          answer: this.$t('cmsPricing.priceQuestionAnswer.answer4'),
        },
        {
          question: this.$t('cmsPricing.priceQuestionAnswer.question5'),
          answer: this.$t('cmsPricing.priceQuestionAnswer.answer5'),
        },
        {
          question: this.$t('cmsPricing.priceQuestionAnswer.question6'),
          answer: this.$t('cmsPricing.priceQuestionAnswer.answer6'),
        },
        // {
        //   question: this.$t('cmsPricing.priceQuestionAnswer.question7'),
        //   answer: this.$t('cmsPricing.priceQuestionAnswer.answer7'),
        // },
        {
          question: this.$t('cmsPricing.priceQuestionAnswer.question8'),
          answer: this.$t('cmsPricing.priceQuestionAnswer.answer8'),
        },
        {
          question: this.$t('cmsPricing.priceQuestionAnswer.question9'),
          answer: this.$t('cmsPricing.priceQuestionAnswer.answer9'),
        },
        {
          question: this.$t('cmsPricing.priceQuestionAnswer.question10'),
          answer: this.$t('cmsPricing.priceQuestionAnswer.answer10'),
        },
      ],
    };
  },
};
</script>
