<template>
  <div>
    <v-row
      align="center"
      justify="space-between"
      :class="$vuetify.breakpoint.mdAndDown ? '' : 'pa-12'"
    >
      <v-col cols="12">
        <h1 class="text-center allh1-headline">
          {{ $t('costDesigningNewsSite') }}
        </h1>
      </v-col>
      <v-col cols="12" md="9" :class="$vuetify.breakpoint.mdAndDown ? '' : 'pl-12'">
        <div
          :class="
            $vuetify.breakpoint.mdAndDown
              ? 'text-center global-box-view'
              : 'global-box-view'
          "
        >
          <h2 class="allh2-headline">
            {{ $t('cmsPricing.priceGoal.title') }}
          </h2>
          <p class="price-box-view">
            {{ $t('cmsPricing.priceGoal.description') }}
          </p>
        </div>
      </v-col>
      <v-col cols="12" md="3" :class="$vuetify.breakpoint.mdAndDown ? '' : 'pr-6'">
        <div>
          <v-img
            :src="require('../../../../assets/images/product/pricingnews.svg')"
            :srcset="require('../../../../assets/images/product/pricingnews.svg')"
            :lazy-src="require('../../../../assets/images/product/pricingnews.svg')"
            contain
          ></v-img>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="10">
        <ListPrice :data="factorPrice" :dense="true" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  computed: {
    factorPrice() {
      return this.$t('cmsPricing.priceGoal.items');
    },
  },
};
</script>
