<template>
  <div>
    <v-row
      align="center"
      justify="space-between"
      :class="$vuetify.breakpoint.mdAndDown ? 'pa-4' : 'pa-12'"
    >
      <v-col cols="12">
        <h2 class="text-center allh2-headline">
          {{ $t('cmsPricing.priceTable.title') }}
        </h2>
      </v-col>
      <v-col cols="12" :class="$vuetify.breakpoint.mdAndDown ? '' : 'pl-12'">
        <v-data-table
          :headers="headers"
          :items="priceList"
          class="elevation-1"
          :hide-default-footer="true"
        >
          <template v-slot:[`item.completeContent`]="{ item }">
            <v-icon v-model="item.completeContent" color="green darken-2">
              $vuetify.icons.mdiCheck
            </v-icon>
          </template>
          <template v-slot:[`item.completeTransfer`]="{ item }">
            <v-icon v-model="item.completeContent" color="green darken-2">
              $vuetify.icons.mdiCheck
            </v-icon>
          </template>
          <template v-slot:[`item.dedicatedDesign`]="{ item }">
            <v-icon v-model="item.completeContent" color="green darken-2">
              $vuetify.icons.mdiCheck
            </v-icon>
          </template>
          <template v-slot:[`item.strongServer`]="{ item }">
            <v-icon v-model="item.completeContent" color="green darken-2">
              $vuetify.icons.mdiCheck
            </v-icon>
          </template>
          <template v-slot:[`item.technicalSupport`]="{ item }">
            <v-icon v-model="item.completeContent" color="green darken-2">
              $vuetify.icons.mdiCheck
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  name: 'PriceTable',
  data() {
    return {
      headers: [
        {
          text: this.$t('cmsPricing.priceTable.dailyHits'),
          align: 'center',
          sortable: false,
          value: 'hits',
          class: 'grey darken-3 white--text',
        },
        {
          text: this.$t('cmsPricing.priceTable.DedicatedDesignCost'),
          align: 'center',
          value: 'DesignCost',
          sortable: false,
          class: 'grey darken-3 white--text',
        },
        {
          text: this.$t('cmsPricing.priceTable.monthlyPrice'),
          align: 'center',
          value: 'monthlyPrice',
          sortable: false,
          class: 'grey darken-3 white--text',
        },
        {
          text: this.$t('cmsPricing.priceTable.completeTransferCurrentContent'),
          align: 'center',
          value: 'completeContent',
          sortable: false,
          class: 'grey darken-3 white--text',
        },
        {
          text: this.$t('cmsPricing.priceTable.completeSystemTransfer'),
          align: 'center',
          value: 'completeTransfer',
          sortable: false,
          class: 'grey darken-3 white--text',
        },
        {
          text: this.$t('cmsPricing.priceTable.dedicatedDesign'),
          align: 'center',
          value: 'dedicatedDesign',
          sortable: false,
          class: 'grey darken-3 white--text',
        },
        {
          text: this.$t('cmsPricing.priceTable.strongAndFastServer'),
          align: 'center',
          value: 'strongServer',
          sortable: false,
          class: 'grey darken-3 white--text',
        },
        {
          text: this.$t('cmsPricing.priceTable.technicalSupport'),
          align: 'center',
          value: 'technicalSupport',
          sortable: false,
          class: 'grey darken-3 white--text',
        },
      ],
      priceList: [
        {
          hits: this.$t('cmsPricing.priceTable.to50Hits'),
          DesignCost: this.$t('cmsPricing.priceTable.p75milionT'),
          monthlyPrice: this.$t('cmsPricing.priceTable.p50'),
        },
        {
          hits: this.$t('cmsPricing.priceTable.to100Hits'),
          DesignCost: this.$t('cmsPricing.priceTable.p75milionT'),
          monthlyPrice: this.$t('cmsPricing.priceTable.p100'),
        },
        {
          hits: this.$t('cmsPricing.priceTable.to250Hits'),
          DesignCost: this.$t('cmsPricing.priceTable.p75milionT'),
          monthlyPrice: this.$t('cmsPricing.priceTable.p250'),
        },
        {
          hits: this.$t('cmsPricing.priceTable.to500Hits'),
          DesignCost: this.$t('cmsPricing.priceTable.p75milionT'),
          monthlyPrice: this.$t('cmsPricing.priceTable.p500'),
        },
        {
          hits: this.$t('cmsPricing.priceTable.to1milionHits'),
          DesignCost: this.$t('cmsPricing.priceTable.p75milionT'),
          monthlyPrice: this.$t('cmsPricing.priceTable.p1000'),
        },
        {
          hits: this.$t('cmsPricing.priceTable.to1500milionHits'),
          DesignCost: this.$t('cmsPricing.priceTable.p75milionT'),
          monthlyPrice: this.$t('cmsPricing.priceTable.p1500'),
        },
        {
          hits: this.$t('cmsPricing.priceTable.to2milionHits'),
          DesignCost: this.$t('cmsPricing.priceTable.p75milionT'),
          monthlyPrice: this.$t('cmsPricing.priceTable.p2000'),
        },
        {
          hits: this.$t('cmsPricing.priceTable.to3milionHits'),
          DesignCost: this.$t('cmsPricing.priceTable.p75milionT'),
          monthlyPrice: this.$t('cmsPricing.priceTable.p3000'),
        },
        {
          hits: this.$t('cmsPricing.priceTable.to4milionHits'),
          DesignCost: this.$t('cmsPricing.priceTable.p75milionT'),
          monthlyPrice: this.$t('cmsPricing.priceTable.p4000'),
        },
      ],
    };
  },
};
</script>
