<template>
  <div>
    <v-row
      align="center"
      justify="space-between"
      :class="$vuetify.breakpoint.mdAndDown ? 'pa-4' : 'pa-12'"
    >
      <v-col cols="12">
        <h2 class="text-center allh2-headline">
          {{ $t('cmsPricing.priceTeamGoal.title') }}
        </h2>
        <p class="line-hight-ourwork mt-8 mb-0">
          {{ $t('cmsPricing.priceTeamGoal.description') }}
        </p>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  computed: {
    factorPrice() {
      return this.$t('cmsPricing.priceGoal.items');
    },
  },
};
</script>
