<template>
  <v-list dense nav shaped>
    <!-- simple  -->
    <v-list-item
      v-for="item in menuOptions.simpleItems"
      :key="item.title"
      :to="item.link"
      exact
    >
      <v-list-item-icon>
        <v-icon> $vuetify.icons.{{ item.action }} </v-icon>
      </v-list-item-icon>

      <v-list-item-content>
        <v-list-item-title>
          {{ item.title }}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <!-- multiple  -->
    <v-list-group
      v-for="item in menuOptions.menuItem"
      :key="item.title"
      v-model="item.active"
      class="mt-2"
      no-action
    >
      <template v-slot:activator>
        <v-list-item-icon>
          <v-icon> $vuetify.icons.{{ item.action }} </v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title v-text="item.title"></v-list-item-title>
        </v-list-item-content>
      </template>

      <v-list-item
        v-for="subItem in item.items"
        :key="subItem.title"
        :to="localePath(subItem.link)"
        exact
      >
        <v-list-item-content>
          <v-list-item-title v-text="subItem.title"></v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list-group>
    <!-- simple  -->
    <v-list-item
      v-for="item in menuOptions.extraDetail"
      :key="item.title"
      class="mt-2"
      :to="localePath(item.link)"
      exact
    >
      <v-list-item-icon>
        <v-icon> $vuetify.icons.{{ item.action }} </v-icon>
      </v-list-item-icon>

      <v-list-item-content>
        <v-list-item-title>
          {{ item.title }}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <!-- support  -->
    <v-list-item class="mt-2" :href="'https://crm.aasaam.org/fa'">
      <v-list-item-icon>
        <v-icon> $vuetify.icons.mdiFaceAgent</v-icon>
      </v-list-item-icon>

      <v-list-item-content>
        <v-list-item-title>
          {{ $t('support') }}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script>
export default {
  name: 'MobileMenu',
  computed: {
    menuOptions() {
      return {
        simpleItems: [
          {
            title: this.$t('home'),
            action: 'mdiHomeVariantOutline',
            link: '/',
          },
        ],
        extraDetail: [
          {
            title: this.$i18n.t('callUs'),
            action: 'mdiPhoneOutline',
            link: '/contact',
          },
          {
            title: this.$i18n.t('portfolio'),
            action: 'mdiBagChecked',
            link: '/product/cms/portfolio',
          },
        ],
        menuItem: [
          {
            title: this.$i18n.t('productsAndService'),
            action: 'mdiToolboxOutline',
            items: [
              {
                title: this.$i18n.t('menu.products.newsDesignSite'),
                link: '/product/cms',
              },
              {
                title: this.$i18n.t('menu.products.newsDesignPrice'),
                link: '/product/cms/pricing',
              },
              {
                title: this.$i18n.t('menu.products.waf'),
                link: '/product/htm',
              },
              {
                title: this.$i18n.t('menu.products.livescore'),
                link: '/product/livescore',
              },
              {
                title: this.$i18n.t('menu.products.cryptocurrency'),
                link: '/product/cryptocurrency',
              },
            ],
          },
          {
            title: this.$i18n.t('solutions'),
            action: 'mdiLightbulbOnOutline',
            items: [
              {
                title: this.$i18n.t('menu.solutions.monitoring'),
                link: '/solutions/monitoring',
              },
              {
                title: this.$i18n.t('menu.solutions.vtp'),
                link: '/solutions/vtp',
              },
              {
                title: this.$i18n.t('menu.solutions.dba'),
                link: '/solutions/dba',
              },
            ],
          },
          {
            title: this.$i18n.tc('partners'),
            action: 'mdiHandshakeOutline',
            items: [
              {
                title: this.$i18n.t('menu.partner.shahremohtava'),
                link: '/partners/shahremohtava',
              },
            ],
          },
        ],
      };
    },
  },
};
</script>
<style lang="scss" scoped>
.v-btn {
  font-size: 18px;
}
.v-btn:before {
  display: none;
}
</style>
