<template>
  <v-avatar size="64">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 105.833 105.833"
      height="400"
      width="400"
      :fill="fill"
    >
      <path
        d="M52.917 2.117a50.8 50.8 0 00-50.8 50.8 50.8 50.8 0 0050.8 50.8 50.8 50.8 0 0050.8-50.8 50.8 50.8 0 00-50.8-50.8zm0 8.466A42.333 42.333 0 0195.25 52.917a42.333 42.333 0 01-16.933 33.815V52.917a25.4 25.4 0 00-7.451-17.95l7.45-7.45H52.918a25.4 25.4 0 00-17.95 7.45l-.011-.011L22.983 46.93l-5.987 5.987 5.987 5.986 8.98 8.98L20.158 79.69a42.333 42.333 0 01-9.575-26.772 42.333 42.333 0 0142.334-42.334zm0 25.4A16.933 16.933 0 0169.85 52.917V91.66a42.333 42.333 0 01-16.933 3.59 42.333 42.333 0 01-26.772-9.575l4.32-4.32 7.765-7.765 5.707-5.706-2.994-2.994-2.993-2.993-8.98-8.98 11.973-11.974.007.007a16.933 16.933 0 0111.967-4.967zM37.95 61.897l8.448-8.448a5.292 5.292 0 002.285.526 5.292 5.292 0 005.292-5.292 5.292 5.292 0 00-5.292-5.291 5.292 5.292 0 00-5.291 5.291 5.292 5.292 0 003.006 4.765z"
      />
    </svg>
  </v-avatar>
</template>
<script>
export default {
  name: 'AsLogo',
  props: {
    fill: {
      type: String,
      default: '#fff',
    },
  },
};
</script>
