<template>
  <v-list>
    <v-list-group
      v-for="item in items"
      :key="item.title"
      v-model="item.active"
      :prepend-icon="$vuetify.icons.item.action"
      no-action
    >
      <template v-slot:activator>
        <v-list-item-content>
          <v-list-item-title v-text="item.title"></v-list-item-title>
        </v-list-item-content>
      </template>

      <v-list-item
        v-for="child in item.items"
        :key="child.title"
        :to="
          localePath({
            name: 'help-faq-id',
            params: { id: child.id },
            query: { category: item.category },
          })
        "
      >
        <v-list-item-content>
          <v-list-item-title v-text="child.title"></v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <!-- <v-divider></v-divider> -->
    </v-list-group>
  </v-list>
</template>
<script>
export default {
  name: 'FaqMenu',
  data() {
    return {
      items: [
        {
          title: 'سیستم خبری',
          category: 'cms',
          action: 'mdiTicket',
          active: true,
          items: [
            {
              id: 'c1',
              title: 'ماژول خبر',
            },
            {
              id: 'c2',
              title: 'ماژول سرویس',
            },
          ],
        },
        {
          title: 'مدیریت ترافیک',
          category: 'htm',
          action: 'mdiHome',
          active: true,
          items: [
            {
              id: 'h1',
              title: ' ماژول Load Balancer ',
            },
          ],
        },
      ],
    };
  },
};
</script>
