<template>
  <div class="mt-12">
    <v-row
      align="center"
      justify="space-between"
      :class="$vuetify.breakpoint.mdAndDown ? '' : 'pa-12 pt-0'"
      itemscope
      itemtype="https://schema.org/FAQPage"
    >
      <v-col cols="12">
        <h2 class="text-center pb-10">
          {{ questionList.title }}
        </h2>
      </v-col>
      <v-col cols="12" :class="$vuetify.breakpoint.mdAndDown ? '' : 'pl-12'">
        <v-expansion-panels v-model="panel" multiple focusable>
          <v-expansion-panel
            v-for="(item, i) in questionList.items"
            :key="i"
            itemscope
            itemprop="mainEntity"
            itemtype="https://schema.org/Question"
          >
            <v-expansion-panel-header :class="item.color" itemprop="name">
              <div class="line-hight-ourwork">
                {{ item.title }}
              </div>
            </v-expansion-panel-header>
            <div
              itemscope
              itemprop="acceptedAnswer"
              itemtype="https://schema.org/Answer"
            >
              <v-expansion-panel-content
                class="pt-4 pb-4 line-hight-ourwork"
                itemprop="text"
              >
                {{ item.answer }}
              </v-expansion-panel-content>
            </div>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  name: 'Questions',
  props: {
    questionList: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      panel: [0, 1],
    };
  },
};
</script>
