<template>
  <div class="global-tech-icon">
    <div v-if="tooltip">
      <img
        :src="require(`../../assets/images/logo/${title}.svg`)"
        :alt="title"
        :width="width"
        :height="height"
        :style="{
          filter: filter,
        }"
      />
    </div>
    <div v-else>
      <!-- @TODO: color -->
      <img
        :src="require(`../../assets/images/logo/${title}.svg`)"
        :alt="title"
        :style="{
          filter: filter,
        }"
        :width="width"
        :height="height"
      />
      <span class="name-icon">
        {{ name }}
      </span>
    </div>
  </div>
</template>
<script>
export default {
  name: 'TechCards',
  props: {
    title: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      required: true,
    },
    tooltip: {
      type: String,
      default: null,
      required: false,
    },
    name: {
      type: String,
      default: null,
      required: false,
    },

    filter: {
      type: String,
      default: '',
      required: false,
    },
    height: {
      type: String,
      default: '50',
      required: false,
    },
    width: {
      type: String,
      default: '50',
      required: false,
    },
  },
};
</script>
