<template>
  <div>
    <v-row
      :class="$vuetify.breakpoint.smAndDown ? 'pa-4' : 'pa-10'"
      align="center"
      justify="center"
    >
      <v-col cols="12" class="text-center">
        <div
          :class="
            $vuetify.breakpoint.mdAndDown
              ? 'text-center global-box-view'
              : 'global-box-view'
          "
        >
          <h2>
            {{ $t('monitoringSolution.witchService.title') }}
          </h2>
          <p class="pa-3">
            {{ $t('monitoringSolution.witchService.description') }}
          </p>
        </div>
      </v-col>
      <v-col cols="12">
        <div class="pt-6 pb-4 make-towline">
          <List :numbers-item="true" :data="dataGiven.slides" />
        </div>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  name: 'MonService',
  props: {
    dataGiven: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      colors: [
        'pink darken-2',
        'warning',
        'pink darken-1',
        'red lighten-1',
        'deep-purple accent-4',
        'purple lighten-1',
        'deep-purple lighten-1',
        'teal darken-1',
        'green darken-3',
        'orange darken-1',
      ],
    };
  },
};
</script>
