<template>
  <div>
    <v-row class="mt-5 mb-6">
      <v-col cols="12" class="text-center">
        <div
          :class="
            $vuetify.breakpoint.mdAndDown
              ? 'text-center global-box-view'
              : 'global-box-view'
          "
        >
          <h2>
            {{ $t('monitoringSolution.tech.title') }}
          </h2>
          <p>
            {{ $t('monitoringSolution.tech.description') }}
          </p>
        </div>
      </v-col>
      <v-row class="fill-height" align="center" justify="center">
        <v-col
          v-for="item in tech"
          :key="item.title"
          v-scrollAnime
          cols="4"
          sm="2"
          md="2"
          lg="1"
          class="d-flex justify-center text-center mx-auto"
        >
          <TechCards
            :color="item.color"
            :title="item.title"
            :name="item.tooltip"
            :filter="item.filter"
            :width="'57'"
            :height="'57'"
          />
        </v-col>
      </v-row>
    </v-row>
  </div>
</template>
<script>
export default {
  name: 'Montech',
  data() {
    return {
      tech: [
        {
          title: 'si_influxdb',
          color: '#E95420',
          tooltip: 'Telegraf/InfluxDB',
          filter:
            'invert(38%) sepia(92%) saturate(957%) hue-rotate(344deg) brightness(93%) contrast(97%)',
        },
        {
          title: 'si_grafana',
          color: '#E95420',
          tooltip: 'Grafana',
          filter:
            'invert(38%) sepia(92%) saturate(957%) hue-rotate(344deg) brightness(93%) contrast(97%)',
        },
        {
          title: 'si_prometheus',
          color: '#E95420',
          tooltip: 'Prometheus',
          filter:
            'invert(38%) sepia(92%) saturate(957%) hue-rotate(344deg) brightness(93%) contrast(97%)',
        },
        {
          title: 'si_fluentd',
          color: '#E95420',
          tooltip: 'Fluent Bit',
          filter:
            'invert(38%) sepia(92%) saturate(957%) hue-rotate(344deg) brightness(93%) contrast(97%)',
        },
        {
          title: 'si_elasticstack',
          color: '#E95420',
          tooltip: 'Elasticstack',
          filter:
            'invert(38%) sepia(92%) saturate(957%) hue-rotate(344deg) brightness(93%) contrast(97%)',
        },
        {
          title: 'si_kibana',
          color: '#E95420',
          tooltip: 'Kibana',
          filter:
            'invert(38%) sepia(92%) saturate(957%) hue-rotate(344deg) brightness(93%) contrast(97%)',
        },
        {
          title: 'si_elasticsearch',
          color: '#E95420',
          tooltip: 'Elasticsearch',
          filter:
            'invert(38%) sepia(92%) saturate(957%) hue-rotate(344deg) brightness(93%) contrast(97%)',
        },
        {
          title: 'si_logstash',
          color: '#E95420',
          tooltip: 'Logstash',
          filter:
            'invert(38%) sepia(92%) saturate(957%) hue-rotate(344deg) brightness(93%) contrast(97%)',
        },

        {
          title: 'si_beats',
          color: '#E95420',
          tooltip: 'Beats',
          filter:
            'invert(38%) sepia(92%) saturate(957%) hue-rotate(344deg) brightness(93%) contrast(97%)',
        },
      ],
    };
  },
};
</script>
