<template>
  <div :class="$vuetify.breakpoint.mdAndDown ? '' : 'pa-12'">
    <v-row align="center" justify="space-between">
      <v-col cols="12">
        <h1 class="text-center allh1-headline">
          {{ dataGiven.title }}
        </h1>
      </v-col>
      <v-col
        cols="12"
        md="9"
        :class="$vuetify.breakpoint.mdAndDown ? '' : 'pl-12'"
      >
        <div
          :class="
            $vuetify.breakpoint.mdAndDown
              ? 'text-center global-box-view'
              : 'global-box-view'
          "
        >
          <p>
            {{ dataGiven.description }}
          </p>
        </div>
      </v-col>
      <v-col
        cols="12"
        md="3"
        :class="$vuetify.breakpoint.mdAndDown ? '' : 'pr-6'"
      >
        <div>
          <v-img
            :src="require('../../../assets/images/product/pricingnews.svg')"
            :srcset="require('../../../assets/images/product/pricingnews.svg')"
            :lazy-src="
              require('../../../assets/images/product/pricingnews.svg')
            "
            contain
          ></v-img>
        </div>
      </v-col>
    </v-row>
    <!-- services  -->
    <v-row class="pt-10">
      <v-col cols="12">
        <h2>
          {{ dataGiven.services.title }}
        </h2>
      </v-col>
      <v-col cols="12" class="pt-4 pb-4 make-towline">
        <List :data="dataGiven.services.items" :dense="true" :line3="false" />
      </v-col>
    </v-row>
    <!-- features  -->
    <v-row justify="center" align="center">
      <v-col cols="12">
        <h2 class="mt-4">
          {{ dataGiven.features.title }}
        </h2>
        <TableCrypto :crypto-data="dataGiven.features" />
      </v-col>
    </v-row>
    <!-- question -->
    <Questions :question-list="dataGiven.questionAnswer" />
  </div>
</template>
<script>
export default {
  name: 'LiveInfo',
  props: {
    dataGiven: {
      type: Object,
      required: true,
    },
  },
};
</script>
