<template>
  <div class="mt-12">
    <v-row align="center" justify="center">
      <v-col
        v-for="(i, k) in cryptoData.crypto"
        :key="k"
        cols="5"
        sm="4"
        md="4"
        lg="3"
      >
        <div class="mx-auto align-center justify-center text-center pb-4 pt-4">
          <v-img
            :width="64"
            class="mx-auto"
            :src="require(`../../../assets/images/crypto/${i.icon}.svg`)"
          ></v-img>

          <span class="pt-3 inline-b">
            {{ i.name }}
          </span>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <iframe
          src="https://widgets.aasaam.org/crypto"
          width="100%"
          height="700"
          loading="lazy"
          frameborder="0"
          sandbox="allow-scripts allow-same-origin"
        ></iframe>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  props: {
    cryptoData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      tabs: null,
    };
  },
};
</script>
