<template>
  <div>
    <v-row class="pa-12" align="center" justify="space-between">
      <v-col cols="12">
        <h1 class="text-center allh1-headline">
          {{ $t('vtpSolution.vtp') }}
        </h1>
      </v-col>
    </v-row>
    <v-row justify="space-between" align="center">
      <v-col cols="12" md="8">
        <div
          :class="
            $vuetify.breakpoint.mdAndDown
              ? 'text-center global-box-view'
              : 'global-box-view'
          "
        >
          <h2>
            {{ $t('vtpSolution.whatIsVtp.title') }}
          </h2>
          <p>
            {{ $t('vtpSolution.whatIsVtp.description') }}
          </p>
        </div>
      </v-col>
      <v-col cols="12" md="3">
        <v-img
          :src="require('../../../assets/images/product/vtpwhat.svg')"
          :srcset="require('../../../assets/images/product/vtpwhat.svg')"
          :lazy-src="require('../../../assets/images/product/vtpwhat.svg')"
          contain
        ></v-img>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  name: 'VtpWhat',
};
</script>
