.contact-intro-description {
  h3 {
    margin-bottom: 24px;
    font-size: 1.5em;
    color: #8373e2;
    line-height: 1.7em;
    @media screen and (max-width: 960px) {
      text-align: center;
      font-size: 1.3em;
    }
  }
  p {
    line-height: 1.9em;
    margin: 24px 0 32px 0;
    font-size: 1.15em;
    color: #4e4e50;
    @media screen and (max-width: 960px) {
      text-align: center;
      font-size: 0.9em;
    }
  }
}

#mapContainer {
  z-index: 0;
  margin: 0 auto;
  width: 100%;
  height: 400px;
  border: 10px solid rgb(228, 228, 228);
}

.contact-halo {
  .shape-one {
    content: '';
    width: 190px;
    height: 190px;
    background: #f29d69;
    border-radius: 50%;
    position: absolute;
    bottom: -120px;
    right: -120px;
    transform: scale(0);
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    transition-delay: 0s;
    z-index: -1;
  }
  .shape-two {
    content: '';
    width: 240px;
    height: 240px;
    background: #f29d69;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    transition-delay: 0s;
    transform: translate(100%, 100%);
    z-index: -1;
  }
  .shape-three {
    content: '';
    width: 380px;
    height: 380px;
    background: #f29d69;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    transition-delay: 0s;
    transform: translate(100%, 100%);
    z-index: -1;
  }
  .hme {
    margin: 0 0 30px;
    text-align: center;
    background-color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 15px 32px 5px rgba(0, 0, 0, 0.05);
    &:hover {
      background-color: #790c3f;
      color: #fff !important;
      .v-icon {
        color: #fff !important;
      }
      .shape-one {
        opacity: 0.7;
        transform: scale(1);
      }
      .shape-two {
        opacity: 0.4;
        transform: translate(50%, 50%);
        transition-delay: 500ms;
      }
      .shape-three {
        opacity: 0.3;
        transform: translate(50%, 50%);
        transition-delay: 600ms;
      }
    }
  }
}
