@import './global.scss';
@import './about.scss';
@import './partners.scss';
@import './contact.scss';

body {
  font-family: 'aasaam-Noto', sans-serif !important;
  letter-spacing: 0 !important;
}

.v-btn__content {
  letter-spacing: 0 !important;
}

.v-list-item .v-list-item__title {
  line-height: 1.4 !important;
}
.position-relative {
  position: relative;
}

.v-card__text,
.v-card__title {
  word-break: normal !important; /* maybe !important  */
}

.dontflip {
  transform: scale(-1, 1);
}

.withme {
  width: 84% !important;
}

// home styles
.start-intro {
  .aaa {
    width: 195px;
    position: absolute;
    right: 28%;
    top: 38%;
    height: 195px;

    @media only screen and (min-width: 1260px) {
      right: 26%;
      top: 28%;
      height: 195px;
    }
    @media only screen and (min-width: 1500px) {
      right: 29%;
      top: 29%;
      height: 185px;
    }
    img {
      vertical-align: middle;
      width: 110px;
      @media only screen and (min-width: 970px) {
        width: 100px;
      }
      // @media only screen and (min-width: 1200px) {
      //   width: 120px;
      // }

      @media only screen and (min-width: 1300px) {
        width: 130px;
      }
      @media only screen and (min-width: 1520px) {
        max-width: 100%;
        width: 100%;
        height: auto;
        text-align: center;
      }
    }
  }
  @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -ms-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
  }
}
.main-bg {
  width: 100%;
  @media only screen and (min-width: 1000px) {
    padding-right: 30px;
    width: 92%;
  }
}
@media only screen and (min-width: 960px) {
  .desktop-wave-gutter {
    padding-bottom: 70px;
  }
}
.whoweare-bg {
  @media only screen and (min-width: 700px) {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-position: top;
    background-image: url('../../assets/images/aboutbg4.svg');
    .before-enter {
      opacity: 0;
      transform: scale(0.8) rotateZ(-10deg);
      transition: all 1.5s ease-out;
    }

    .enter {
      opacity: 1;
      transform: scale(1) rotateZ(0deg);
    }
  }
}

.home-halo-card {
  .shape-one {
    content: '';
    width: 240px;
    height: 240px;
    background: #f29d69;
    border-radius: 50%;
    position: absolute;
    bottom: -120px;
    right: -120px;
    transform: scale(0);
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    transition-delay: 0s;
    z-index: -1;
  }
  .shape-two {
    content: '';
    width: 363px;
    height: 363px;
    background: #f29d69;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    transition-delay: 0s;
    transform: translate(100%, 100%);
    z-index: -1;
  }
  .shape-three {
    content: '';
    width: 480px;
    height: 480px;
    background: #f29d69;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    transition-delay: 0s;
    transform: translate(100%, 100%);
    z-index: -1;
  }
  .hme {
    margin: 0 0 30px;
    text-align: center;
    background-color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 15px 32px 5px rgba(0, 0, 0, 0.05);
    &:hover {
      background-color: #da2d2d;
      color: #fff !important;
      .v-icon {
        color: #fff !important;
      }
      .shape-one {
        opacity: 0.7;
        transform: scale(1);
      }
      .shape-two {
        opacity: 0.4;
        transform: translate(50%, 50%);
        transition-delay: 500ms;
      }
      .shape-three {
        opacity: 0.3;
        transform: translate(50%, 50%);
        transition-delay: 600ms;
      }
    }
  }
}

.nocase {
  text-transform: unset;
}
.brandfont-size .abi {
  font-size: 6em;
  color: #545252;
}

.home-techies {
  .deskpadd {
    padding: 70px 0 90px 0;
  }
  .icon-tech {
    i {
      font-size: 3.4em;
    }
  }
}

.brand-hovers {
  &:hover {
    color: #fe9d2d;
  }
}
.brand-hovers-w {
  &:hover {
    color: #eee2d5;
    transform: translateY(-10px);
    transition: transform 250ms;
  }
}

.faq-lists {
  .border-tile {
    border-bottom: 1px solid #f5f5f5;
  }
  .v-list-item__title {
    padding-bottom: 10px;
    font-size: 1.4em;
  }
  .v-list-item__subtitle {
    font-size: 1em;
    line-height: 1.6 !important;
    white-space: unset !important;
  }
}

.light-box-shadow {
  box-shadow: 0px 15px 32px 5px rgba(0, 0, 0, 0.05);
}

.font-2em {
  font-size: 2em;
}
