.partner-description {
  h2 {
    margin-bottom: 24px;
    font-size: 1.6em;
    color: #3a3840;
    line-height: 1.7em;
  }
  p {
    line-height: 1.9em;
    margin: 24px 0 32px 0;
    font-size: 1.3em;
    color: #4e4e50;
    @media screen and (max-width: 960px) {
      text-align: center;
      font-size: 0.9em;
    }
  }
}

.partnersview {
  .logopart {
    i {
      @media screen and (min-width: 960px) {
        font-size: 19em;
      }
      font-size: 14em;
    }
  }
  .before-enter {
    opacity: 0.2;
    transform: translateY(200px);
    transition: all 2s ease-out;
  }
  .enter {
    opacity: 1;
    transform: translateY(0px);
  }
}
