<template>
  <div>
    <v-container
      :fluid="true"
      :class="
        $vuetify.breakpoint.smAndDown
          ? 'slideup-everywhere mt-60'
          : 'slideup-everywhere mt-120 pr-12 pl-12'
      "
    >
      <!-- Start Home Introduction  -->
      <HomeIntro> </HomeIntro>
      <!-- End Home Introduction -->
    </v-container>
    <!-- Start Introducing Ourself -->
    <WhoWeAre> </WhoWeAre>
    <!-- End of Introducing Ourself -->
    <!-- Start Why Us -->
    <WhyUs> </WhyUs>
    <!-- End of Why Us -->
    <!-- Start brands -->
    <Brands> </Brands>
    <!-- End brands -->
    <!-- Start client qoute -->
    <ClientQoute> </ClientQoute>
    <!-- End of client qoute -->
    <!-- Start technology -->
    <HomeTechnology> </HomeTechnology>
    <!-- End of technology -->
  </div>
</template>
