<template>
  <div class="mt-12">
    <v-tabs
      v-model="tabs"
      centered
      show-arrows
      :fixed-tabs="$vuetify.breakpoint.smAndDown ? false : true"
    >
      <v-tab
        v-for="item in liveData.info"
        :key="item.title"
        class="grey lighten-3"
      >
        {{ item.title }}
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tabs">
      <v-tab-item v-for="(val, k) in liveData.info" :key="k">
        <v-card flat>
          <!-- <v-card-title class="text-h5">
            {{ val.title }}
          </v-card-title> -->
          <v-card-text class="text-center pt-12">
            <p>
              <v-icon small color="primary"> $vuetify.icons.info </v-icon>
              {{ val.description }}
            </p>
            <iframe
              loading="lazy"
              :src="val.url"
              width="100%"
              height="500"
              frameborder="0"
            ></iframe>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>
<script>
export default {
  props: {
    liveData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      tabs: null,
    };
  },
};
</script>
