<template>
  <v-container
    :fluid="$vuetify.breakpoint.smAndUp"
    :class="
      $vuetify.breakpoint.smAndDown
        ? 'slideup-everywhere mt-60'
        : 'slideup-everywhere mt-100 pb-0'
    "
  >
    <v-row class="mt-8">
      <v-col cols="12">
        <h1 class="text-center allh1-headline">
          {{ $t('menu.docs.faq') }}
        </h1>
      </v-col>
      <v-col cols="12">
        <v-breadcrumbs
          class="grey lighten-4 mb-4"
          :items="breadcrumb"
        ></v-breadcrumbs>
      </v-col>
      <v-col cols="12" md="3">
        <FaqMenu />
      </v-col>
      <v-col cols="12" md="9">
        <v-list class="faq-lists">
          <v-list-item
            v-for="(item, index) in qList"
            :key="index"
            class="mb-3 pb-3 grey lighten-5 border-tile"
          >
            <v-list-item-content>
              <v-list-item-title>
                {{ item.question }}
              </v-list-item-title>
              <v-list-item-subtitle>
                {{ item.answer }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data() {
    return {
      breadcrumb: [
        {
          text: 'خانه',
          disabled: false,
          href: 'breadcrumbs_dashboard',
        },
        {
          text: 'راهنما',
          disabled: false,
          href: 'breadcrumbs_link_1',
        },
        // {
        //   text: 'سامانه خبری',
        //   disabled: true,
        //   href: 'breadcrumbs_link_2',
        // },
      ],
      id: this.$route.params.id,
      category: this.$route.query.category,
    };
  },

  computed: {
    serviceDetails() {
      return {
        q: this.$i18n.t(`faqList.${this.category}.service`),
      };
    },
    qList() {
      let manipulated = [];
      this.serviceDetails.q.filter((i) => {
        if (i.id === this.id) {
          manipulated = i.questionList;
          return manipulated;
        }
        return manipulated;
      });
      return manipulated;
    },
  },
};
</script>
