<template>
  <v-container
    :fluid="$vuetify.breakpoint.smAndUp"
    :class="
      $vuetify.breakpoint.smAndDown
        ? 'slideup-everywhere mt-60'
        : 'slideup-everywhere mt-100 pb-0'
    "
  >
    <v-row class="mt-8">
      <v-col cols="12">
        <h1 class="text-center allh1-headline">
          {{ $t('menu.docs.help') }}
        </h1>
      </v-col>
      <v-col cols="12" md="3">
        <FaqMenu />
      </v-col>
      <v-col cols="12" md="9">
        <v-list class="faq-lists">
          <v-list-item class="mb-3 pb-3 grey lighten-5 border-tile">
            <v-list-item-content>
              <v-list-item-title> </v-list-item-title>
              <v-list-item-subtitle> </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {};
</script>
