<template>
  <v-container
    fluid
    class="pl-0 pr-0"
  >
    <v-row>
      <v-col :cols="12">
        <div class=" mt-120 mb-120 height_box part1_profile  rounded " :style="{'backgroundColor': item.color}" >
          <v-avatar :color="item.color" size="140" class="works-icon pa-4 white--text" >
            <i class="abi"> {{ item.brand }}</i>
          </v-avatar>
        </div>
        <div class="pl-12 pr-12 mt-8 pt-12">
          <h3 class="font-weight-bold "> {{ item.title }} </h3>
          <p class="pt-4 grey--text text--darken-3">{{item.discription}}</p>
        </div>
      </v-col>
    </v-row>
    <!-- SECTION 2  -->
    <v-row class="mt-12 pl-4 pr-4 part2_profile">
      <v-col cols="12" md="6" lg="6" >
        <v-row>
          <v-col cols="12">
            <v-card
              outlined
              class="light-box-shadow rounded-xl mx-auto"
              max-width="700"
              min-height="311"
            >
              <h2 class="pa-4 text-center">{{ item.general.title }}</h2>
              <v-divider></v-divider>
              <v-list dense class="pt-8 pa-4">
                <!-- STATUS  -->
                <v-list-item class="mb-4 pr-0">
                  <v-list-item-icon class="font-weight-medium">
                    {{ $t('status') }} :
                  </v-list-item-icon>
                  <v-list-item-content class="font-weight-light grey--text">
                    <v-list-item-title v-text="item.general.active" ></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <!-- DOMAIN POWER  -->
                <v-list-item class="mb-4 pr-0">
                  <v-list-item-icon class="font-weight-medium">
                    {{ $t('domainPower') }} :
                  </v-list-item-icon>
                  <v-list-item-content class="font-weight-light grey--text">
                    <v-list-item-title v-text="item.general.domainPower"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <!-- START YEAR  -->
                <v-list-item class="pr-0">
                  <v-list-item-icon class="font-weight-medium">
                    {{ $t('startYear') }} :
                  </v-list-item-icon>
                  <v-list-item-content class="font-weight-light grey--text">
                    <v-list-item-title v-text="item.general.startYear"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
          <v-col cols="12" class="mt-12">
            <!-- INFORMATION  -->
            <v-card
              outlined
              class="light-box-shadow rounded-xl mx-auto"
              max-width="700"
            >
              <h2 class="pa-4 text-center">{{ item.info.title }}</h2>
              <v-divider></v-divider>
              <v-list dense class="pt-8 pa-4">
                <!-- ADDRESS  -->
                <v-list-item class="mb-4 pr-0 ">
                  <v-list-item-icon class="font-weight-medium">
                    {{ $t('addressSite') }} :
                  </v-list-item-icon>
                  <v-list-item-content class="font-weight-light grey--text">
                    <v-list-item-title v-text="item.info.address"  ></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <!-- MOBILE  -->
                <v-list-item class="mb-4 pr-0">
                  <v-list-item-icon class="font-weight-medium">
                    {{ $t('telSite') }} :
                  </v-list-item-icon>
                  <v-list-item-content class="font-weight-light grey--text">
                    <v-list-item-title v-text="item.info.tel"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <!-- EMAIL  -->
                <v-list-item class="mb-4  pr-0">
                  <v-list-item-icon class="font-weight-medium">
                    {{ $t('emailSite') }} :
                  </v-list-item-icon>
                  <v-list-item-content class="font-weight-light grey--text">
                    <v-list-item-title v-text="item.info.email"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <!-- MANAGER  -->
                <v-list-item class="mb-4  pr-0">
                  <v-list-item-icon class="font-weight-medium">
                    {{ $t('managerSite') }} :
                  </v-list-item-icon>
                  <v-list-item-content class="font-weight-light grey--text">
                    <v-list-item-title v-text="item.info.manager"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <!-- OWNER  -->
                <v-list-item class="pr-0 mb-4">
                  <v-list-item-icon class="font-weight-medium">
                    {{ $t('ownerSite') }} :
                  </v-list-item-icon>
                  <v-list-item-content class="font-weight-light grey--text">
                    <v-list-item-title v-text="item.info.owner"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <!-- SOCIAL MEDIA  -->
      <v-col cols="12"  md="6" lg="6"
        :class="{'mt-12': $vuetify.breakpoint.smAndDown, 'mt-0': $vuetify.breakpoint.mdAndUp}"
      >
        <v-card
          outlined
          class="light-box-shadow rounded-xl mx-auto "
          max-width="700"

        >
          <h2 class="pa-4 text-center ">{{ item.socialMedia.title }}</h2>
          <v-divider></v-divider>
          <v-list class="pa-4">
            <v-list-item
              v-for="(value, i) in item.socialMedia.content"
              :key="i"
              class="pr-0 pl-0"
            >
              <v-list-item-content>
                <v-list-item-title class="grey--text text--darken-4" dir="ltr" v-text="value.link"></v-list-item-title>
              </v-list-item-content>
              <v-list-item-icon>
                <v-btn
                  icon
                  color="blue-grey darken-4"
                  :href="value.link"
                >
                  <i class="abi grey--text">si_{{ value.icon }}</i>
                </v-btn>
              </v-list-item-icon>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col >
    </v-row>
  </v-container>
</template>

<script>
import  works  from "@/static/works";
export default {
  data() {
    return{
      id: this.$route.params.id,
      item: {
        general : {},
        socialMedia: {},
        info: {}
      },
    }
  },
  mounted() {
    this.checkId();
  },
  methods: {
    checkId() {
      works.forEach((i) => {
        if (i.id === this.id) {
          this.item = i;
        }
      })
    }
  }
}
</script>
