<template>
  <div>
    <v-row class="mt-5 mb-10">
      <v-col cols="12" class="text-center">
        <div
          :class="
            $vuetify.breakpoint.mdAndDown
              ? 'text-center global-box-view'
              : 'global-box-view'
          "
        >
          <h2 class="allh2-headline">
            {{ $t('cmsProduct.tech.title') }}
          </h2>
        </div>
      </v-col>
      <v-row class="fill-height" align="center" justify="center">
        <v-col
          v-for="item in tech"
          :key="item.title"
          v-scrollAnime
          cols="4"
          sm="2"
          md="2"
          lg="1"
          class="d-flex justify-center text-center mx-auto"
        >
          <TechCards
            :color="item.color"
            :title="item.title"
            :filter="item.filter"
            :name="item.tooltip"
            :width="item.width"
            :height="item.height"
          />
        </v-col>
      </v-row>
    </v-row>
  </div>
</template>
<script>
export default {
  name: 'CmsTech',
  data() {
    return {
      tech: [
        {
          title: 'si_php',
          color: '#E95420',
          tooltip: 'PHP',
          filter:
            'invert( 48% ) sepia(40%) saturate(3207%) hue-rotate(2deg) brightness(95%) contrast(90%)',
          width: '57',
          height: '57',
        },
        {
          title: 'si_mariadb',
          color: '#E95420',
          tooltip: 'MariaDB',
          filter:
            'invert(36%) sepia(82%) saturate(2692%) hue-rotate(354deg) brightness(98%) contrast(85%)',
          width: '57',
          height: '57',
        },
        {
          title: 'si_mongodb',
          color: '#E95420',
          tooltip: 'MongoDB',
          filter:
            'invert(36%) sepia(82%) saturate(2692%) hue-rotate(354deg) brightness(98%) contrast(85%)',
          width: '57',
          height: '57',
        },
        {
          title: 'si_nginx',
          color: '#E95420',
          tooltip: 'Nginx',
          filter:
            'invert(36%) sepia(82%) saturate(2692%) hue-rotate(354deg) brightness(98%) contrast(85%)',
          width: '57',
          height: '57',
        },
        {
          title: 'si_nodedotjs',
          color: '#E95420',
          tooltip: 'NodeJS',
          filter:
            'invert(36%) sepia(82%) saturate(2692%) hue-rotate(354deg) brightness(98%) contrast(85%)',
          width: '57',
          height: '57',
        },
        {
          title: 'si_vuedotjs',
          color: '#E95420',
          tooltip: 'VueJS',
          filter:
            'invert(36%) sepia(82%) saturate(2692%) hue-rotate(354deg) brightness(98%) contrast(85%)',
          width: '57',
          height: '57',
        },
        {
          title: 'si_vuetify',
          color: '#E95420',
          tooltip: 'Vuetify',
          filter:
            'invert(36%) sepia(82%) saturate(2692%) hue-rotate(354deg) brightness(98%) contrast(85%)',
          width: '57',
          height: '57',
        },
        // {
        //   title: 'si_quasar',
        //   color: '#E95420',
        //   tooltip: 'Quasar',
        // },
        {
          title: 'si_angularjs',
          color: '#E95420',
          tooltip: 'Angularjs',
          filter:
            'invert(36%) sepia(82%) saturate(2692%) hue-rotate(354deg) brightness(98%) contrast(85%)',
          width: '57',
          height: '57',
        },
      ],
    };
  },
};
</script>
