<template>
  <div
    :class="
      $vuetify.breakpoint.mdAndDown
        ? 'grey lighten-4'
        : 'pt-12 pr-12 pl-12 grey lighten-4'
    "
  >
    <div class="d-flex align-center justify-center pt-8">
      <h1 class="text-center allh1-headline">چگونه میتوانم کمکتان کنم؟</h1>
    </div>
    <v-row align="center" justify="center">
      <v-col cols="10" class="helpbg">
        <v-row align="center" justify="center">
          <v-col cols="12">
            <p class="text-center body">
              {{ $t('monitoringSolution.howMonitoring.description') }}
            </p>
          </v-col>
          <v-col cols="10" md="8">
            <!-- <v-text-field
              label="عنوان مورد نظرتان را جستجو کنید..."
              hide-no-data
              flat
              solo
              clearable
              clear-icon="mdi-close-circle-outline"
              append-icon="mdi-magnify"
            ></v-text-field> -->
            <p class="text-center body">
              {{ $t('monitoringSolution.howMonitoring.description') }}
              {{ $t('monitoringSolution.howMonitoring.description') }}
            </p>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  name: 'HelpIntro',
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.helpbg {
  /* background-color: antiquewhite; */
  min-height: 16em;
  background-image: url('../../assets/images/h1g.svg'),
    url('../../assets/images/helpbg.svg');
  /* background-size: contain; */
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
}
</style>
