<template>
  <div class="brands">
    <v-container
      fluid
      :class="
        $vuetify.breakpoint.smAndDown ? 'pt-0 pb-4 pl-12 pr-12' : 'px-12 pb-12'
      "
    >
      <v-row align="center" justify="center">
        <v-col cols="12" md="10" lg="10">
          <v-carousel hide-delimiters :show-arrows="false" cycle height="300">
            <template v-for="(item, index) in brandList">
              <v-carousel-item
                v-if="(index + 1) % columns === 1 || columns === 1"
                :key="index"
              >
                <v-row class="flex-nowrap" style="height: 100%">
                  <template v-for="(n, i) in columns">
                    <template v-if="+index + i < brandList.length">
                      <v-col :key="i">
                        <v-sheet
                          v-if="+index + i < brandList.length"
                          height="100%"
                        >
                          <v-row
                            class="fill-height brandfont-size"
                            align="center"
                            justify="center"
                          >
                            <img
                              :src="
                                require(`../../assets/images/logo/${
                                  brandList[+index + i].icon
                                }.svg`)
                              "
                              width="102"
                              height="102"
                              class="hover-image"
                            />
                          </v-row>
                        </v-sheet>
                      </v-col>
                    </template>
                  </template>
                </v-row>
              </v-carousel-item>
            </template>
          </v-carousel>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
  name: 'Brands',

  data() {
    return {
      brandList: [
        {
          name: 'خبرگزاری برنا',
          icon: 'ir_borna',
        },
        {
          name: 'اقتصاد آنلاین',
          icon: 'ir_eghtesadonline',
        },
        {
          name: 'پایگاه خبری جماران',
          icon: 'ir_jamaran',
        },
        {
          name: 'خبرگزاری کار ایران',
          icon: 'ir_ilna',
        },
        {
          name: 'وزارت بهداشت، درمان و آموزش پزشكي',
          icon: 'ir_mohme',
        },
        {
          name: 'دانشگاه,علوم پزشکی ایران',
          icon: 'ir_iums',
        },
        {
          name: 'رکنا',
          icon: 'ir_rokna',
        },
        {
          name: 'وزارت ورزش و جوانان',
          icon: 'ir_msy',
        },
        {
          name: 'روزنامه دنیای اقتصاد',
          icon: 'ir_donya_e_eqtesad',
        },
        {
          name: 'پايگاه خبری افکارنيوز',
          icon: 'ir_afkarnews',
        },
        {
          name: 'شما نیوز',
          icon: 'ir_shomanews',
        },
        {
          name: 'مثلث آنلاین',
          icon: 'ir_mosalas',
        },
        {
          name: 'اقتصاد نیوز',
          icon: 'ir_eghtesadnews',
        },
        {
          name: 'خبرفوری',
          icon: 'ir_khabarfoori',
        },
        {
          name: 'خبرگزاری هنر ایران',
          icon: 'ir_honaronline',
        },
        {
          name: 'برترین ها',
          icon: 'ir_bartarinha',
        },
        {
          name: 'اکوایران',
          icon: 'ir_ecoiran',
        },
        {
          name: 'هفته نامه تجارت فردا',
          icon: 'ir_tejaratfarda',
        },
        {
          name: 'کن نیوز',
          icon: 'ir_cannews',
        },

        {
          name: 'روزنامه شرق‌',
          icon: 'ir_sharghonline',
        },
        {
          name: 'سایت خبری نسیم آنلاین',
          icon: 'ir_nasim',
        },
        {
          name: 'سرنا خبر',
          icon: 'ir_sornakhabar',
        },
        {
          name: 'شما و اقتصاد',
          icon: 'ir_shomavaeghtesad',
        },
        {
          name: 'رستا نیوز',
          icon: 'ir_rastaanews',
        },
      ],
    };
  },
  computed: {
    columns() {
      if (this.$vuetify.breakpoint.xl) {
        return 8;
      }

      if (this.$vuetify.breakpoint.lg) {
        return 6;
      }

      if (this.$vuetify.breakpoint.md) {
        return 4;
      }

      if (this.$vuetify.breakpoint.sm) {
        return 2;
      }

      return 1;
    },
  },
};
</script>

<style lang="css">
.hover-image:hover {
  filter: invert(48%) sepia(40%) saturate(3207%) hue-rotate(2deg)
    brightness(95%) contrast(90%);
}
</style>
