<template>
  <div class="slideup-everywhere">
    <v-container fluid>
      <h1 v-scrollAnime class="text-center blue--text accent-4 pb-6">
        {{ $t('review') }}
      </h1>
      <v-container fluid :class="$vuetify.breakpoint.smAndUp ? 'pt-8' : 'pa-0'">
        <v-row v-scrollAnime align="center" justify="center" class="pt-3">
          <v-col cols="12" md="9">
            <v-carousel
              cycle
              interval="9000"
              hide-delimiters
              :show-arrows="$vuetify.breakpoint.smAndUp ? true : false"
            >
              <template v-slot:prev="{ on, attrs }">
                <v-btn text icon v-bind="attrs" v-on="on">
                  <v-icon x-large> $vuetify.icons.mdiChevronRight </v-icon>
                </v-btn>
              </template>
              <template v-slot:next="{ on, attrs }">
                <v-btn text icon v-bind="attrs" v-on="on">
                  <v-icon x-large> $vuetify.icons.mdiChevronLeft </v-icon>
                </v-btn>
              </template>
              <v-carousel-item>
                <v-sheet height="100%">
                  <v-row class="fill-height" align="center" justify="center">
                    <ClientCard :qoute="qoutesData2" />
                  </v-row>
                </v-sheet>
              </v-carousel-item>
              <v-carousel-item>
                <v-sheet height="100%">
                  <v-row class="fill-height" align="center" justify="center">
                    <ClientCard :qoute="qoutesData1" />
                  </v-row>
                </v-sheet>
              </v-carousel-item>
              <v-carousel-item>
                <v-sheet height="100%">
                  <v-row class="fill-height" align="center" justify="center">
                    <ClientCard :qoute="qoutesData" />
                  </v-row>
                </v-sheet>
              </v-carousel-item>
            </v-carousel>
          </v-col>
        </v-row>
      </v-container>
    </v-container>
  </div>
</template>
<script>
export default {
  name: 'ClientQoute',

  computed: {
    qoutesData1() {
      return [
        {
          name: this.$t('qouteCustomer[0].name'),
          position: this.$t('qouteCustomer[0].position'),
          description: this.$t('qouteCustomer[0].description'),
        },
      ];
    },
    qoutesData() {
      return [
        {
          name: this.$t('qouteCustomer[1].name'),
          position: this.$t('qouteCustomer[1].position'),
          description: this.$t('qouteCustomer[1].description'),
        },
      ];
    },
    qoutesData2() {
      return [
        {
          name: this.$t('qouteCustomer[2].name'),
          position: this.$t('qouteCustomer[2].position'),
          description: this.$t('qouteCustomer[2].description'),
        },
      ];
    },
  },
};
</script>
