<template>
  <div class="home-techies">
    <div :class="$vuetify.breakpoint.smAndDown ? 'pt-5 pb-5' : 'deskpadd'">
      <v-container fluid>
        <header v-scrollAnime class="blue--text accent-4 pb-10">
          <h1 class="text-center pb-10">
            {{ $t('technologyUse') }}
          </h1>
        </header>
        <v-row class="fill-height">
          <v-col
            v-for="tech in technology"
            :key="tech.key"
            class="pa-6"
            cols="12"
          >
            <v-row class="d-flex justify-center">
              <v-col
                v-for="item in tech.icons"
                :key="item.title"
                v-scrollAnime
                cols="4"
                sm="2"
                md="2"
                lg="1"
                class="d-flex justify-center"
              >
                <TechCards
                  :color="item.color"
                  :title="item.title"
                  :tooltip="item.tooltip"
                  :filter="item.filter"
                  :width="item.width"
                  :height="item.height"
                />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>
<script>
export default {
  name: 'HomeTechnology',
  data() {
    return {
      technology: [
        {
          key: 'infrastructure',
          icons: [
            {
              title: 'si_maas',
              color: '#E95420',
              tooltip: 'MAAS',
              filter:
                ' invert(51%) sepia(92%) saturate(3857%) hue-rotate(348deg) brightness(93%) contrast(96%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_linux',
              color: '#2B2203',
              tooltip: 'Linux',
            },
            {
              title: 'si_debian',
              color: '#A81D33',
              tooltip: 'Debian',
              filter:
                'invert(18%) sepia(56%) saturate(3337%) hue-rotate(333deg) brightness(88%) contrast(98%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_ubuntu',
              color: '#E95420',
              tooltip: 'Ubuntu',
              filter:
                ' invert(51%) sepia(92%) saturate(3857%) hue-rotate(348deg) brightness(93%) contrast(96%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_ceph',
              color: '#f0424d',
              tooltip: 'Ceph',
              filter:
                'invert(35%) sepia(98%) saturate(2138%) hue-rotate(332deg) brightness(95%) contrast(99%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_nginx',
              color: '#269539',
              tooltip: 'NGINX',
              width: '55',
              height: '55',
              filter:
                'invert(52%) sepia(8%) saturate(4614%) hue-rotate(79deg) brightness(86%) contrast(83%)',
            },
          ],
        },
        {
          key: 'managment',
          icons: [
            {
              title: 'si_openstack',
              color: '#ED1944',
              tooltip: 'OpenStack',
              filter:
                'invert(15%) sepia(98%) saturate(4129%) hue-rotate(340deg) brightness(97%) contrast(92%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_ansible',
              color: '#EE0000',
              tooltip: 'Ansible',
              filter:
                'invert(9%) sepia(88%) saturate(5938%) hue-rotate(357deg) brightness(117%) contrast(121%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_saltproject',
              color: '#008575',
              tooltip: 'SaltStack',
              filter:
                'invert(33%) sepia(71%) saturate(1306%) hue-rotate(142deg) brightness(91%) contrast(101%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_kubernetes',
              color: '#326CE5',
              tooltip: 'Kubernetes',
              filter:
                'invert(42%) sepia(95%) saturate(2713%) hue-rotate(207deg) brightness(88%) contrast(106%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_docker',
              color: '#2496ED',
              tooltip: 'Docker',
              filter:
                'invert(47%) sepia(58%) saturate(2545%) hue-rotate(183deg) brightness(99%) contrast(88%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_consul',
              color: '#CA2171',
              tooltip: 'Consul',
              filter:
                'invert(32%) sepia(95%) saturate(5763%) hue-rotate(318deg) brightness(83%) contrast(89%)',
              width: '55',
              height: '55',
            },
          ],
        },
        {
          key: 'backend',
          icons: [
            {
              title: 'si_python',
              color: '#3776AB',
              tooltip: 'Python',
              filter:
                'invert(42%) sepia(29%) saturate(987%) hue-rotate(165deg) brightness(94%) contrast(92%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_go',
              color: '#005E75',
              tooltip: 'Go',
              filter:
                'invert(22%) sepia(71%) saturate(2011%) hue-rotate(167deg) brightness(91%) contrast(101%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_php',
              color: '#777BB4',
              tooltip: 'PHP',
              filter:
                'invert(54%) sepia(12%) saturate(1386%) hue-rotate(198deg) brightness(89%) contrast(86%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_nodedotjs',
              color: '#339933',
              tooltip: 'Node.js',
              filter:
                ' invert(46%) sepia(90%) saturate(392%) hue-rotate(71deg) brightness(89%) contrast(88%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_rust',
              color: '#000000',
              tooltip: 'Rust',
            },
            {
              title: 'si_javascript',
              color: '#8F4000',
              tooltip: 'JavaScript',
              filter:
                'invert(20%) sepia(97%) saturate(2022%) hue-rotate(27deg) brightness(97%) contrast(102%)',
              width: '55',
              height: '55',
            },
          ],
        },
        {
          key: 'database',
          icons: [
            {
              title: 'si_redis',
              color: '#DC382D',
              tooltip: 'Redis',
              filter:
                'invert(42%) sepia(93%) saturate(6425%) hue-rotate(351deg) brightness(95%) contrast(80%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_elasticsearch',
              color: '#005571',
              tooltip: 'Elasticsearch',
              filter:
                'invert(20%) sepia(56%) saturate(3170%) hue-rotate(175deg) brightness(87%) contrast(101%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_postgresql',
              color: '#DC382D',
              tooltip: 'PostgreSQL',
              filter:
                '  invert(29%) sepia(65%) saturate(4488%) hue-rotate(348deg) brightness(92%) contrast(86%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_influxdb',
              color: '#065B88',
              tooltip: 'InfluxDB',
              filter:
                'invert(19%) sepia(68%) saturate(2489%) hue-rotate(181deg) brightness(98%) contrast(95%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_mongodb',
              color: '#47A248',
              tooltip: 'MongoDB',
              filter:
                ' invert(56%) sepia(8%) saturate(3702%) hue-rotate(72deg) brightness(95%) contrast(76%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_mariadb',
              color: '#003545',
              tooltip: 'MariaDB',
              filter:
                '  invert(17%) sepia(28%) saturate(2426%) hue-rotate(157deg) brightness(92%) contrast(104%)',
              width: '55',
              height: '55',
            },
          ],
        },
        {
          key: 'frontend',
          icons: [
            {
              title: 'si_fastify',
              color: '#000000',
              tooltip: 'Fastify',
              filter: '',
              width: '55',
              height: '55',
            },

            {
              title: 'si_vuetify',
              color: '#1867C0',
              tooltip: 'Vuetify',
              filter:
                'invert(37%) sepia(12%) saturate(7488%) hue-rotate(189deg) brightness(85%) contrast(95%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_vuedotjs',
              color: '#2D7C58',
              tooltip: 'Vue.js',
              filter:
                ' invert(44%) sepia(14%) saturate(1672%) hue-rotate(100deg) brightness(87%) contrast(88%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_quasar',
              color: '#1976D2',
              tooltip: 'Quasar',
              filter:
                'invert(39%) sepia(81%) saturate(735%) hue-rotate(173deg) brightness(91%) contrast(98%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_sass',
              color: '#CC6699',
              tooltip: 'Sass',
              filter:
                'invert(65%) sepia(36%) saturate(2086%) hue-rotate(292deg) brightness(85%) contrast(85%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_inkscape',
              color: '#000000',
              tooltip: 'Inkscape',
              filter: '',
              width: '55',
              height: '55',
            },
            {
              title: 'si_gimp',
              color: '#5C5543',
              tooltip: 'GIMP',
              filter:
                'invert(30%) sepia(16%) saturate(655%) hue-rotate(5deg) brightness(96%) contrast(83%)',
              width: '55',
              height: '55',
            },
            {
              title: 'si_webpack',
              color: '#0870A0',
              tooltip: 'Webpack',
              filter:
                'invert(25%) sepia(95%) saturate(1522%) hue-rotate(176deg) brightness(93%) contrast(94%)',
              width: '55',
              height: '55',
            },
          ],
        },
      ],
    };
  },
};
</script>
