<template>
  <v-row class="pr-4 pl-4 desktop-wave-gutter">
    <v-col
      cols="12"
      md="5"
      :class="$vuetify.breakpoint.mdAndDown ? 'd-none d-md-flex' : 'pt-12 mt-4'"
    >
      <HomeSvgAnime />
    </v-col>
    <v-col cols="12" md="7" class="pt-10">
      <HomeLead />
    </v-col>
  </v-row>
</template>
<script>
export default {
  name: 'HomeIntro',
};
</script>
