<template>
  <div class="whoweare-bg">
    <div
      :class="
        $vuetify.breakpoint.mdAndDown
          ? 'new_section'
          : 'new_section pt-10 pb-12'
      "
    >
      <v-container
        fluid
        :class="$vuetify.breakpoint.smAndDown ? 'pr-1 pl-1' : 'pr-12 pl-12'"
      >
        <div :class="$vuetify.breakpoint.mdAndDown ? 'mt-2' : 'mt-140'">
          <v-row>
            <v-col cols="12" lg="6">
              <v-row>
                <!-- 1 -->
                <v-col cols="12" md="6" class="pt-0">
                  <v-card
                    v-scrollAnime
                    rounded
                    class="mx-auto rounded-xl white--text elevation-0"
                    color="deep-orange darken-2"
                    height="240px"
                    nuxt
                    :to="localePath('/product/cms')"
                    :title="$t('cmsProduct.designAgencySite')"
                  >
                    <h2
                      class="white--text text-center pt-12 pr-4 pl-4"
                      :title="$t('cmsProduct.designAgencySite')"
                    >
                      {{ $t('cmsProduct.designAgencySite') }}
                    </h2>
                  </v-card>
                </v-col>
                <!-- 2 -->
                <v-col cols="12" md="6" class="pt-0">
                  <v-card
                    v-scrollAnime
                    rounded
                    class="mx-auto rounded-xl white--text elevation-0"
                    color="green darken-3"
                    height="240px"
                    nuxt
                    :to="localePath('/solutions/vtp')"
                    :title="$t('cmsProduct.designAgencySite')"
                  >
                    <h2
                      class="white--text text-center pt-12 pr-4 pl-4"
                      :title="$t('cmsProduct.designAgencySite')"
                    >
                      {{ $t('introduce.list[1].title') }}
                    </h2>
                  </v-card>
                </v-col>
              </v-row>
              <!-- 3 -->
              <v-row>
                <v-col cols="12">
                  <v-card
                    v-scrollAnime
                    rounded
                    class="mx-auto rounded-xl white--text elevation-0"
                    color="#00BFA5"
                    :height="$vuetify.breakpoint.smAndUp ? '240px' : '240px'"
                    nuxt
                    :to="localePath('/solutions/monitoring')"
                  >
                    <v-card-subtitle
                      class="white--text text-center justify-center font-weight-bold text-h5 pa-12"
                    >
                      {{ $t('introduce.list[2].title') }}
                    </v-card-subtitle>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
            <!-- ## -->
            <v-col cols="12" lg="6">
              <v-row>
                <v-col cols="12" class="pt-0">
                  <v-card
                    rounded
                    class="d-flex flex-column justify-center align-center elevation-0 rounded-xl pt-0 mt-0"
                    color="#50bee9"
                    height="500"
                    nuxt
                    :to="localePath('/product/htm')"
                  >
                    <div class="pt-9 pr-4 pl-4">
                      <p
                        class="text-h5 font-weight-bold text-center white--text"
                      >
                        ارائه خدمات و راهکارهای مبتنی بر
                      </p>
                      <p
                        class="text-h5 font-weight-bold text-center pt-4 white--text"
                      >
                        Waf, Load Balancing, SSL Offloading
                      </p>
                    </div>
                    <v-img
                      v-if="$vuetify.breakpoint.smAndUp"
                      v-scrollAnime
                      :src="require('../../assets/images/home/serverdone1.png')"
                      :srcset="
                        require('../../assets/images/home/serverdone1.png')
                      "
                      :lazy-src="
                        require('../../assets/images/home/serverdone1.png')
                      "
                      max-width="360"
                      contain
                    >
                    </v-img>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <!-- **************** -->
          <v-row>
            <!-- 5 -->
            <v-col cols="12" lg="6">
              <v-row>
                <v-col cols="12">
                  <v-card
                    rounded
                    class="d-flex flex-column justify-center align-center elevation-0 rounded-xl"
                    color="#298f9a"
                    height="500px"
                  >
                    <p
                      class="pa-8 text-center white--text text-h5 font-weight-bold"
                    >
                      {{ $t('introduce.list[4].title') }}
                    </p>
                    <v-img
                      v-if="$vuetify.breakpoint.mdAndUp"
                      v-scrollAnime
                      :src="require('../../assets/images/home/devops.svg')"
                      :srcset="require('../../assets/images/home/devops.svg')"
                      :lazy-src="require('../../assets/images/home/devops.svg')"
                      class="rounded-xl"
                      width="270"
                      contain
                    >
                    </v-img>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" lg="6">
              <v-row>
                <v-col
                  cols="12"
                  :class="$vuetify.breakpoint.smAndDown ? 'pt-0' : ''"
                >
                  <v-card
                    v-scrollAnime
                    rounded
                    class="mx-auto rounded-xl white--text elevation-0"
                    color="#293778"
                    height="240px"
                  >
                    <v-card-subtitle
                      class="white--text text-center justify-center font-weight-bold text-h6 pt-7"
                    >
                      {{ $t('introduce.list[5].title') }}
                    </v-card-subtitle>
                    <v-img
                      v-if="$vuetify.breakpoint.smAndUp"
                      v-scrollAnime
                      max-height="150"
                      :src="require('../../assets/images/home/shield.svg')"
                      :srcset="require('../../assets/images/home/shield.svg')"
                      :lazy-src="require('../../assets/images/home/shield.svg')"
                      class="d-flex rounded-xl white--text"
                      height="240px"
                      contain
                    >
                    </v-img>
                  </v-card>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="6">
                  <v-card
                    v-scrollAnime
                    rounded
                    class="d-flex flex-column mx-auto justify-center align-center rounded-xl white--text elevation-0"
                    color="#454459"
                    height="240px"
                    nuxt
                    :to="localePath('/solutions/dba')"
                  >
                    <v-card-title class="justify-center">
                      <p class="pt-1 text-h6 font-weight-bold mb-0">
                        {{ $t('introduce.list[6].title') }}
                      </p>
                    </v-card-title>
                    <v-img
                      v-scrollAnime
                      :src="
                        require('../../assets/images/monitoring/monitoring1.svg')
                      "
                      :srcset="
                        require('../../assets/images/monitoring/monitoring1.svg')
                      "
                      class="rounded-xl white--text mb-6"
                      max-width="240"
                      contain
                    >
                    </v-img>
                  </v-card>
                </v-col>
                <v-col cols="12" md="6">
                  <v-card
                    v-scrollAnime
                    rounded
                    class="d-flex flex-column mx-auto justify-center align-center rounded-xl white--text elevation-0"
                    color="#4e5d6c"
                    height="240px"
                    nuxt
                    :to="localePath('/solutions/dba')"
                  >
                    <v-card-title class="justify-center">
                      <p class="pt-1 text-h6 font-weight-bold">
                        {{ $t('introduce.list[7].title') }}
                      </p>
                    </v-card-title>
                    <v-img
                      v-scrollAnime
                      :src="require('../../assets/images/home/dba.svg')"
                      :srcset="require('../../assets/images/home/dba.svg')"
                      :lazy-src="require('../../assets/images/home/dba.svg')"
                      class="rounded-xl white--text"
                      max-width="240"
                      contain
                    >
                    </v-img>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </div>
      </v-container>
    </div>
  </div>
</template>
<script>
export default {
  name: 'WhoWeAre',
};
</script>
