<template>
  <v-app>
    <!-- content  -->
    <v-main class="pa-0 ma-0">
      <MainHeader />
      <v-container :fluid="true">
        <nuxt />
      </v-container>
    </v-main>
    <MainFooter />
  </v-app>
</template>

<script>
import faJSon from '~/locales/fa/info';
// import enJSon from '~/locales/en/info';
export default {
  head() {
    const i18nHead = this.$nuxtI18nHead({ addSeoAttributes: true });
    return {
      title: this.$t('head.title'),
      meta: [
        { charset: 'utf-8' },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
        },
        { name: 'theme-color', content: '#f37921' },
        // { name: 'mobile-web-app-capable', content: 'yes' },
        {
          name: 'ICBM',
          content: `${this.$t('head.location.latitude')}, ${this.$t(
            'head.location.longitude',
          )}`,
        },
        {
          name: 'geo.position',
          content: `${this.$t('head.location.latitude')};${this.$t(
            'head.location.longitude',
          )}`,
        },
        { name: 'geo.region', content: 'IR-07' },
        { name: 'geo.placename', content: 'Tehran' },
        { property: 'og:type', content: 'website' },
        { property: 'og:title', content: this.$t('head.title') },
        { property: 'og:image', content: this.ogImage },
        { property: 'og:image:alt', content: this.$t('head.description') },
        { property: 'og:url', content: this.$t('head.url') },
        {
          name: 'description',
          property: 'og:description',
          content: this.$t('head.description'),
          hid: 'description',
        },
        ...i18nHead.meta,
      ],
      htmlAttrs: {
        lang: this.$i18n.locale,
        dir: this.$i18n.locale === 'fa' ? 'rtl' : 'ltr',
        ...i18nHead.htmlAttrs,
      },
      link: [
        { rel: 'manifest', href: `manifest-${this.$i18n.locale}.json` },
        {
          rel: 'canonical',
          href: this.$t('head.url'),
        },
      ],
      script: [
        { type: 'application/ld+json', json: this.structuredData },
        // { src: 'imber.js' },
      ],
    };
  },
  computed: {
    structuredData() {
      // if (this.$i18n.locale === 'en') {
      //   return enJSon;
      // }
      return faJSon;
    },
    ogImage() {
      return '/favicons/android-chrome-512.png';
    },
  },
};
</script>
