<template>
  <div class="mb-12 pb-12">
    <div class="grey lighten-4">
      <v-container
        :fluid="$vuetify.breakpoint.smAndUp"
        :class="
          $vuetify.breakpoint.smAndDown
            ? 'slideup-everywhere mt-60'
            : 'slideup-everywhere mt-100 pr-12 pl-12 pb-0 pt-0'
        "
      >
        <HelpIntro />
      </v-container>
    </div>
    <v-row align="center" justify="center" no-gutters>
      <v-col cols="12" md="3">
        <v-card
          class="mt-n12 mx-auto"
          elevation="12"
          height="200"
          max-width="300"
          :to="localePath('/help/faq')"
        >
          <v-card-text>
            <v-icon
              class="pt-5 d-flex justify-center"
              size="64"
              color="primary"
            >
              mdi-comment-processing-outline
            </v-icon>
            <h3 class="pt-6 pb-4 d-flex justify-center">پرسش های رایج</h3>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="3">
        <v-card
          class="mt-n12 mx-auto"
          elevation="12"
          height="200"
          max-width="300"
          :to="localePath('/help/encyclopedia')"
        >
          <v-card-text>
            <v-icon
              class="pt-5 d-flex justify-center"
              size="64"
              color="primary"
            >
              mdi-book-open-variant
            </v-icon>
            <h3 class="pt-6 pb-4 d-flex justify-center">
              {{ $t('menu.docs.encyclopedia') }}
            </h3>
          </v-card-text>
        </v-card>
      </v-col>
      <!-- <v-col cols="12" md="3">
        <v-card class="mt-n12 mx-auto" elevation="12" height="200" max-width="300">
          <v-card-text>
            <v-icon class="pt-5 d-flex justify-center" size="64" color="primary">
              mdi-clipboard-text-outline
            </v-icon>
            <h3 class="pt-6 pb-4 d-flex justify-center">مستندات</h3>
          </v-card-text>
        </v-card>
      </v-col> -->
    </v-row>
  </div>
</template>
<script>
export default {
  data() {
    return {
      colors: ['#24556f', '#425d6a', '#6f3777'],
    };
  },
};
</script>
