<template>
  <v-container
    fluid
    :class="$vuetify.breakpoint.smAndDown ? 'mt-140' : 'mt-120 pr-12 pl-12'"
  >
    <LiveInfo :data-given="info" />
  </v-container>
</template>
<script>
export default {
  head() {
    return {
      title: `${this.$t('menu.products.livescore')} | ${this.$t('head.title')}`,
      meta: [
        {
          name: 'description',
          property: 'og:description',
          content: this.$t('liveScoreProduct.description'),
          hid: 'description',
        },
      ],
    };
  },
  computed: {
    info() {
      return this.$i18n.t('liveScoreProduct');
    },
  },
};
</script>
