<template>
  <div>
    <!-- part-one  -->
    <v-container
      fluid
      :class="
        $vuetify.breakpoint.smAndDown
          ? 'mt-100'
          : 'mt-120 pr-12 pl-12 slideup-everywhere'
      "
    >
      <v-row
        align="center"
        justify="center"
        :class="$vuetify.breakpoint.mdAndDown ? 'pt-8' : 'pa-12'"
      >
        <v-col cols="12">
          <h1 class="text-center allh11-headline">
            {{ $t('devopsService.itDevops') }}
          </h1>
        </v-col>
      </v-row>
      <!-- part-two  -->
      <v-row
        justify="center"
        align="center"
        :class="$vuetify.breakpoint.smAndDown ? '' : 'mb-10'"
      >
        <v-col
          v-for="(item, i) in serviceDetails.it"
          :key="i"
          cols="12"
          md="6"
          lg="4"
        >
          <v-card
            v-scrollAnime
            color="white"
            min-height="193"
            nuxt
            class="ma-3"
            @click="onScroll(item.fragment)"
          >
            <div class="border-pink">
              <div v-if="item.title" class="mx-auto text-h5 text-center pa-4">
                <p class="pb-4">
                  {{ item.title }}
                </p>
              </div>
            </div>
          </v-card>
        </v-col>
      </v-row>
      <!-- part three  -->
      <div :class="$vuetify.breakpoint.smAndDown ? 'mt-5' : 'mt-12 pt-5'">
        <v-row
          v-for="(data, i) in serviceDetails.it"
          :key="i"
          class="bgdiverse elevation-6 mt-12 mb-12"
        >
          <v-col
            :id="data.fragment"
            cols="12"
            :class="$vuetify.breakpoint.smAndDown ? 'pa-2' : 'pa-8'"
          >
            <div
              :class="
                $vuetify.breakpoint.mdAndDown
                  ? 'text-center global-box-view'
                  : 'global-box-view'
              "
            >
              <template v-if="data.titlex">
                <h2 class="d-flex" v-html="data.titlex"></h2>
              </template>
              <h2 v-else>
                <v-icon large color="green darken-2">
                  $vuetify.icons.mdiArrowLeftBoldOutline
                </v-icon>
                {{ data.title }}
              </h2>
              <p>
                {{ data.description }}
              </p>
            </div>
            <!-- 2 -->
            <div v-if="data.items" class="make-towline">
              <List :data="data.items" />
              <p v-if="data.descriptionNext">
                {{ data.descriptionNext }}
              </p>
            </div>
          </v-col>
        </v-row>
      </div>
    </v-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      colors: [
        'deep-purple',
        'indigo',
        'blue',
        'indigo darken-1',
        'cyan',
        'teal',
        'red',
        'pink',
        'purple darken-4',
        'orange darken-3',
        'green darken-2',
        'lime darken-3',
      ],
    };
  },
  head() {
    return {
      //   title: `${this.$t('dbaSolution.dba')} | ${this.$t('head.title')}`,
      //   meta: [
      //     {
      //       name: 'description',
      //       property: 'og:description',
      //       content: this.$t('dbaSolution.whatIsDba.description'),
      //       hid: 'description',
      //     },
      //   ],
    };
  },
  //   async asyncData({ app }) {
  //     const wholeContent = await import(`~/locales/${app.i18n.locale}/solutions/dba`);
  //     const item1 = wholeContent.default.whatIsDba.items;
  //     const item2 = wholeContent.default.whyDba.items;
  //     const item3 = wholeContent.default.howDba;
  //     return { item1, item2, item3 };
  //   },
  computed: {
    serviceDetails() {
      return {
        it: this.$i18n.t('devopsService.devServices'),
      };
    },
  },
  methods: {
    onScroll(e) {
      this.$vuetify.goTo(`#${e}`, {
        duration: 600,
        offset: 110,
        easing: 'easeInOutCubic',
      });
      this.$router.push(`/solutions/devops/#${e}`);
    },
  },
};
</script>
